<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <ul>
    <% @tasks.each do |task| %>
      <li>
        <input type='checkbox' name=<%=task.title%> <%= task.completed ? 'checked' : '' %> disabled/>
        <label for=<%=task.title%> ><%= link_to task.title, task_path(task) %></label>
      </li>
    <% end %>
  </ul>
  <%= link_to 'New Task', '/tasks/new' %>
</body>
</html>
